body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 300;
/*  background-color: #F9F2F3;*/
}


h1 {
font-size: 28px;
font-weight: 700;
margin: 0px;
}

h5 {
/*  font-family: 'EB Garamond', serif;*/
  font-size: 17px;
  letter-spacing: 0px;
  margin: 0px;
  margin-bottom: 15px;
  margin-top: 50px;
}

label {
/*  font-family: 'EB Garamond', serif;*/
  font-size: 17px;

}

hr {
 width: 8%;
 margin-top: 45px;
 border-top: 3px solid black;
}

hr.bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

#container {
  padding: 10px 565px;
}

p {
  text-align: left;
}

#title {
  font-size: 20px;
  margin-bottom: 25px;
  color: black;
}

img {
  width: 25%;
}

input[type="submit"]{
    border: 0;
    width: 76px;
    height:28px;
/*    background: #F5B8BD;*/
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: white;
}

input {
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
  outline:0;
}

input[type="submit"]:focus {
  outline:0;
  background-color: white;
  color: black;
}

input[type="text"] {
  font-size: 15px;
}
